@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1{
  font-family: 'Permanent Marker', cursive;
}
 .card {
    width: 100%;
    height: 530px ;
}
.colo_flex_class {
  float: left;
  width: 25%;
  cursor: pointer;
}
.colo_flex_class .col-md-3 {
  width: 100% !important;
  flex: 100%;
  padding: 10px;
}
.card-flex-img{
  width : 70%;
  margin: 18px auto;
}